/*DISCLAIMER: Beberapa asset tidak tersedia dalam google drive yang sudah diberikan,
jadi saya mengambil dari figma yang sudah diberikan untuk challenge chap 3 ini -salam Agas :)*/

.main-nav .navbar:nth-child(1){
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
    position: fixed;
    height: 90px;
    color: white;
}

.main-nav .navbar-brand {
    color: white;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-left: 90px !important;
}

.main-nav .navbar:nth-child(1) ul {
    float: left;
    margin: 0;
}

.main-nav .navbar:nth-child(1) a {
    display: block;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans";
    padding: 0px 15px 0px 15px;
}

.main-nav .navbar:nth-child(1) ul:nth-child(2) {
    position: relative;
    margin-right: 380px;
}

.main-nav .navbar:nth-child(1) ul:nth-child(3) {
    position: relative;
    margin-right: 140px;
}

.mobile-nav {
    display: none;
}

.container {
    background-image: url(assets/main-bg.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    align-items: center;
    max-width: 100%;
    height: 960px;
    padding-top: 0%;
    position: relative;
}

.container h1 {
    text-transform: uppercase;
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    color: white;
    text-align: center;
    padding-top: 300px;
}

.container h3 {
    text-align: center;
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 1;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container button {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    color: black;
    margin: 0;
    position: absolute;
    justify-content: center;
    border-radius: 4px;
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    padding-right: 55px;
    padding-left: 55px;
    margin-left: 42%;
}

.container a {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 47.5%;
    bottom: 6.4%;
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20.25px;
    position: absolute;
    bottom: 5%;
    left: 49%;
}

.container-2 {
    background-image: url(assets/the-games-bg.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    align-items: center;
    max-width: 100%;
    height: 1051px;
    padding-top: 0%;
    position: relative;
}

.container-2 h3 {
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 210px;
}

.container-2 h1 {
    position: relative;
    height: 73.64px;
    width: 400px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 13px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.container-2 .col-9 .row .col-md-8 {
    position: relative;
    background-image: url(assets/rockpaperstrategy-1600.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 477px;
    margin-top: 250px;
    margin-left: 100px;
    margin-right: 0;
}

.container-2 .col-9 .row .col-md-8 img:nth-child(1) {
    position: absolute;
    bottom: 5px;
    left: 30%;
    padding: 10px;
}

.container-2 .col-9 .row .col-md-8 img:nth-child(2) {
    position: absolute;
    bottom: 5px;
    left: 42.5%;
    padding: 10px;
}

.container-2 .col-9 .row .col-md-8 img:nth-child(3) {
    position: absolute;
    bottom: 5px;
    left: 57.5%;
    padding: 10px;
}

.container-2 .col-9 .row .col-md-8 img:nth-child(4) {
    position: absolute;
    bottom: 5px;
    left: 70%;
    padding: 10px;
}

.container-2 .col-9 .row .col-1 .left {
    position: absolute;
    height: 75px;
    margin-top: 450px;
    margin-left: 125%;
    margin-right: 0;
}

.container-2 .col-9 .row .col-1 .right {
    position: absolute;
    height: 75px;
    margin-top: 450px;
}

.container-3 {
    background-image: url(assets/features.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    align-items: center;
    max-width: 100%;
    height: 960px;
    padding-top: 0%;
    position: relative;
}

.container-3 .title h3 {
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 169px;
}

.container-3 .title h1 {
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;  
    color: #FFFFFF;
    margin-top: 8px;
}

.container-3 .col-1 {
    display: block;
}

.container-3 .col-1 img:nth-child(1){
    position: absolute;
    width: 14px;
    height: 14px;
    top: 6px;
    left: 0px;
}

.container-3 .col-1 img:nth-child(2){
    position: absolute;
    height: 136px;
    left: 5.65px;
    top: 6px;
}

.container-3 .col-1 img:nth-child(3){
    position: absolute;
    width: 14px;
    height: 14px;
    top: 140px;
    left: 0px;
}

.container-3 .col-1 img:nth-child(4){
    position: absolute;
    width: 14px;
    height: 14px;
    top: 217px;
    left: 0px;
}

.container-3 .features {
    margin-top: 70px;
}

.container-3 .col p:nth-child(1){
    position: relative;
    text-align: left;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFB548;
}

.container-3 .col p:nth-child(2){
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    margin-right: 30%;
    width: 362px;
}

.container-3 .col p:nth-child(3){
    position: relative;
    text-align: left;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFB548;
    margin-top: 46px;
}

.container-3 .col p:nth-child(4){
    position: relative;
    text-align: left;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFB548;
    margin-top: 47px;
}

.container-4 {
    background-image:url(assets/Rectangle-4.png), url(assets/requirements.png);
    background-size: cover, cover;
    background-position: center, center;
    display: block;
    align-items: center;
    max-width: 100%;
    height: 960px;
    padding-top: 0%;
    position: relative;
}

.container-4 h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    padding-top: 10%;
}

.container-4 .system-req {
    margin-left: 0px;
}

.container-4 .col-6 h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    text-align: left;
    margin-top: 6%;
}

.container-4 .yellow {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
    text-transform: uppercase;
    position: relative;
    text-align: left;
}

.container-4 .desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: relative;
    text-align: left;
}

.container-4 .col-6 .main-border {
    border: 1px solid #979797 !important;
    width: 573px;
    height: 400px;
    margin-top: 60px;
    margin-left: 0px !important;
}

.container-4 .col-6 .main-border .row {
    flex-wrap: unset;
}

.container-4 .col-6 .main-border .col-md-6:nth-child(1) .mini-border:nth-child(1){
    border-right: 1px solid #979797 !important;
    border-bottom: 1px solid #979797 !important;
    width: 276px;
    height: 125px;
    padding: 14px 5px 30px 15px;
    margin-left: -16px;
}

.container-4 .col-6 .main-border .col-md-6:nth-child(1) .mini-border:nth-child(2){
    border-right: 1px solid #979797 !important;
    border-bottom: 1px solid #979797 !important;
    width: 276px;
    height: 125px;
    padding: 14px 5px 30px 15px;
    margin-left: -16px;
}

.container-4 .col-6 .main-border .col-md-6:nth-child(2) .mini-border:nth-child(1){
    border-bottom: 1px solid #979797 !important;
    width: 297px;
    height: 125px;
    padding: 14px 5px 30px 15px;
    margin-left: -26px;
}

.container-4 .col-6 .main-border .col-md-6:nth-child(2) .mini-border:nth-child(2){
    border-bottom: 1px solid #979797 !important;
    width: 297px;
    height: 125px;
    padding: 14px 5px 30px 15px;
    margin-left: -26px;
}

.container-4 .graphics{
    border: 0px;
    width: 573px;
    height: 149px;
    padding: 20px 5px 30px 15px;
}

.container-4 .mobile-box {
    display: none;
}

.container-5 {
    background-image:url(assets/top-score-bg2.png), url(assets/top-score-bg.png);
    background-size: cover, cover;
    background-position: center, center;
    display: block;
    align-items: center;
    max-width: 100%;
    height: 960px;
    padding-top: 0%;
    position: relative;
}

.container-5 .col-md-6:nth-child(1){
    margin-left: 100px;
}

.container-5 h1 {
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40%;
}

.container-5 .desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: relative;
    margin-top: 30px;
    margin-right: 47%;
}

.container-5 button {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    color: #1A1917;
    padding: 18px 90px 18px 90px;
    margin-top: 30px;
    border: 0px;
}

.container-5 .col-md .media{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    border: 1px solid;
    width: 480px;
    height: 190px;
}

.container-5 .col-md .border{
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
}

.container-5 .col-md .media img:nth-child(1){
    position: absolute;
    width: 65px;
    height: 65px;
    margin-top: 4px !important;
    margin-left: 10px !important;
}

.container-5 .col-md .media img:nth-child(2) {
    position: absolute;
    width: 65px;
    height: 65px;
    margin-top: 0px !important;
    margin-left: 0px !important;
}

.container-5 .col-md .media .media-body p:nth-child(1){
    position: flex;
    margin-top: 10px;
    margin-left: 90px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.container-5 .col-md .media .media-body p:nth-child(2) {
    position: relative;
    margin-left: 90px;
    margin-top: -17px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
}

.container-5 .col-md .media .media-body p:nth-child(3){
    position: relative;
    margin-top: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-right: 20px;
}

.container-5 .col-md .media .media-body p:nth-child(4){
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.container-5 .col-md .media:nth-child(1){
    position: relative;
    margin-top: 100px;
}

.container-5 .col-md .media:nth-child(2){
    position: relative;
    height: 215px;
    margin-top: 30px;
    margin-left: -160px;
}

.container-5 .col-md .media:nth-child(3){
    position: relative;
    height: 215px;
    margin-top: 30px;
    margin-left: -45px;
}

.container-6 {
    background-image:url(assets/newsletter.png);
    background-size: cover;
    background-position: center;
    display: block;
    align-items: center;
    max-width: 100%;
    height: 960px;
    padding-top: 0%;
    position: relative;
}

.container-6 .col-5 img:nth-child(1){
    position: absolute;
    width: 412.35px;
    height: 655.6px;
    top: 50px;
    left: 193px;
}

.container-6 .col-5 img:nth-child(2){
    position: absolute;
    width: 445.47px;
    height: 694.41px;
    left: 159.96px;
    top: 49.98px;
}

.container-6 .col-md-7 h3 {
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 100px;
}

.container-6 .col-md-7 h1 {
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
    width: 100%;
}

.container-6 .col-md-7 .desc{
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 100%;
    margin-top: 20px;
}

.container-6 .col-md-7 p:nth-child(1){
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 4px;
    margin-left: 27px;
    margin-top: -12px;
}

.container-6 .col-md-7 input {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    border: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
    width: 366px;
    height: 60px;
    padding-left: 27px;
    padding-top: 18px;
}

.container-6 .col-md-7 input::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
    position: absolute;
    bottom: 10px;
}

.container-6 .col-md-7 button{
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #1A1917;
    border: 0px;
    width: 260px;
    height: 60px;
    margin-left: 17px;
}

.container-6 .col-md-7 form{
    margin-top: 60px;
}

.container-6 .navbar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    position: absolute;
    bottom: 35px;
    right: 0; 
    padding: 7px;
}

.container-6 .navbar a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
}

.container-6 .navbar .social-media{
    padding: 20px 27px 0px 27px;
    padding-bottom: 10px;
}

.container-6 .navbar .social-media a:nth-child(4){
    padding-right: 0px;
}

.container-6 .navbar .navbar-nav:nth-child(1){
    margin-left: 18%;
}

.container-6 .navbar .navbar-nav:nth-child(2){
    margin-right: 8%;
    margin-left: 0;
    height: 18px;
}

.container-6 .navbar p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.container-6 .navbar .copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 0px;
}

.container-6 .navbar:nth-child(2){
    margin-bottom: 90px;
}

.container-6 .navbar:nth-child(3){
    margin-bottom: 0;
    border-top: 0.873968px solid rgba(255, 255, 255, 0.5);
    padding-top: 30px;
}

@media only screen and (max-width: 1000px) {
    
    html,body {
        overflow-x: hidden;
    }

    .main-nav{
        display: none;
    }

    .mobile-nav{
        display: block;
        margin-bottom: 0px;
    }

    .mobile-nav .navbar-brand {
        color: white;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding-left: 0px !important;
    }

    .mobile-nav .navbar a {
        display: block;
        color:white;
        text-transform: uppercase;
        font-family: "Open Sans";
    }

    .container h1 {
        font-size: 50px;
    }

    .container h3 {
        font-size: 18px;
        letter-spacing: 1px;
        padding-top: 15px;
    }

    .container button {
        margin-left: 23%;
    }

    .container a {
        left: 42%;
    }

    .container-2 .col-md-8 {
        background-position: 54.5% !important;
    }

    .container-2 .col-3 h3{
        position: relative;
        margin-top: 60px;
        font-size: 18px;
        line-height: 22px;
        width: 300%;
        text-align: center;
        left: 40%;
    }

    .container-2 .col-3 h1 {
        margin-top: 20px;
        font-size: 50px;
        line-height: 50px;
        font-weight: 500;
        width: 300%;
        text-align: center;
        left: 40%;
    }

    .container-2 .col-9 .row {
        margin-top: 50px;
    }

    .container-2 .col-9 .row .col-1:nth-child(1) {
        left:-38%;
    }

    .container-2 .col-9 .row .col-1 .left {
        position: relative;
        padding: 0;
        height: 45px;
    }

    .container-2 .col-9 .row .col-md-8 {
        position: relative;
        margin-left: -30%;
        margin-right: 0;
        margin-top: 240px;
        padding: 0;
        left: 0;
        top: 0;
        display: block;
    }

    .container-2 .col-9 .row .col-1 .right{
        position: relative;
        height: 45px;
        margin-left:0;
        padding:0;
    }

    .container-3 {
        background-position: 69%;
    }

    .container-3 .col-7 {
        display: none;
    }

    .container-3 .col-5 .col p:nth-child(1){
        position: absolute;
        margin-right: 10%;
        width: 260%;
        margin-left: 0;
    }

    .container-3 .col-5 .col p:nth-child(2){
        position: absolute;
        margin-right: 10%;
        width: 260%;
        margin-left: 0;
        margin-top: 40px;
    }

    .container-3 .col-5 .col p:nth-child(3){
        position: absolute;
        margin-right: 10%;
        width: 260%;
        margin-left: 0;
        margin-top: 161px;
    }

    .container-3 .col-5 .col p:nth-child(4){
        position: absolute;
        margin-right: 10%;
        width: 260%;
        margin-left: 0;
        margin-top: 235px;
    }
    
    .container-3 .col-1 img:nth-child(1){
        position: absolute;
        width: 14px;
        height: 14px;
        top: 6px;
        left: 0px;
    }

    .container-3 .col-1 img:nth-child(2){
        position: absolute;
        height: 160px;
        left: 5.65px;
        top: 10px;
    }

    .container-3 .col-1 img:nth-child(3){
        position: absolute;
        width: 14px;
        height: 14px;
        top: 168px;
        left: 0px;
    }

    .container-3 .col-1 img:nth-child(4){
        position: absolute;
        width: 14px;
        height: 14px;
        top: 244px;
        left: 0px;
    }

    .container-4 {
        background-image: url(assets/requirements.png);
        background-position: left;
    }

    .container-4 .system-req {
        margin: 0;
    }

    .container-4 .system-req .title{
        display: table;
        text-align: center;
    }

    .container-4 .system-req h1 {
        font-size: 40px;
        line-height: 50px;
        width: 100%;
    }

    .container-4 .col-6 .main-border {
        display: none;
    }

    .container-4 .mobile-box {
        display:block;
    }

    .container-4 .mobile-box .mini-border{
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        left: 15%;
        right: 15%;
        top: 30px;
        background: rgb(0, 0, 0,0.5);
    }

    .container-4 .mobile-box .mini-border:nth-child(1){
        border: 1px solid #979797 !important;
        width: 280px;
        height: 125px;
        padding: 14px 5px 30px 15px;
    }

    .container-4 .mobile-box .mini-border:nth-child(2){
        border-right: 1px solid #979797 !important;
        border-left: 1px solid #979797 !important;
        border-bottom: 1px solid #979797 !important;
        border-top: 0px;
        width: 280px;
        height: 125px;
        padding: 14px 5px 30px 15px;
        margin-top: -1px;
    }

    .container-4 .mobile-box .mini-border:nth-child(3){
        border-right: 1px solid #979797 !important;
        border-left: 1px solid #979797 !important;
        border-bottom: 1px solid #979797 !important;
        border-top: 0px;
        width: 280px;
        height: 125px;
        padding: 14px 5px 30px 15px;
        margin-top: -1px;
    }

    .container-4 .mobile-box .mini-border:nth-child(4){
        border-right: 1px solid #979797 !important;
        border-left: 1px solid #979797 !important;
        border-bottom: 1px solid #979797 !important;
        border-top: 0px;
        width: 280px;
        height: 125px;
        padding: 14px 5px 30px 15px;
        margin-top: -1px;
    }

    .container-4 .mobile-box .mini-border:nth-child(5) {
        border-right: 1px solid #979797 !important;
        border-left: 1px solid #979797 !important;
        border-bottom: 1px solid #979797 !important;
        border-top: 0px;
        width: 280px;
        height: 140px;
        padding: 14px 5px 30px 15px;
        margin-top: -1px;
    }

    .container-5 {
        background-image: url(assets/top-score-bg.png);
        background-size: cover;
        background-position: left;
    }

    .container-5 .col-md-6:nth-child(1) {
        margin-left: 13px;
    }

    .container-5 h1{
        margin-top:70px;
        text-align: center;
    }

    .container-5 .desc {
        font-size: 18px;
        margin-right: 0;
        margin-top: 20px;
        text-align: center;
    }

    .container-5 button {
        margin-top: 20px;
        margin-left: 15%;
    }

    .container-5 .col-md .media{
        background: rgba(255, 255, 255, 0.08);
        border-radius: 10px;
        border: 1px solid;
        width: 300px;
        height: 200px;
    }
    
    .container-5 .col-md .media img:nth-child(1){
        position: absolute;
        width: 62px;
        height: 62px;
        margin-top: 4px !important;
        margin-left: 10px !important;
    }
    
    .container-5 .col-md .media img:nth-child(2) {
        position: absolute;
        width: 62px;
        height: 62px;
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
    
    .container-5 .col-md .media .media-body p:nth-child(1){
        position: flex;
        margin-top: 10px;
        margin-left: 90px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
        color: #FFB548;
    }
    
    .container-5 .col-md .media .media-body p:nth-child(2) {
        position: relative;
        margin-left: 90px;
        margin-top: -17px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        color: #FFFFFF;
        opacity: 0.5;
    }
    
    .container-5 .col-md .media .media-body p:nth-child(3){
        position: relative;
        margin-top: 15px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        padding-right: 20px;
    }
    
    .container-5 .col-md .media .media-body p:nth-child(4){
        position: relative;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    
    .container-5 .col-md .media:nth-child(1){
        position: relative;
        margin-top: 60px;
        margin-left: 10%;
    }
    
    .container-5 .col-md .media:nth-child(2){
        position: relative;
        height: 215px;
        margin-top: 30px;
        margin-left: 10%;
    }
    
    .container-5 .col-md .media:nth-child(3){
        display: none;
    }    

    .container-6 .col-5 {
        display: none;
    }

    .container-6 .col-md-7 h3 {
        margin-right: 0;
        font-size: 18px;
        letter-spacing: 1px;
        text-align: center;
    }

    .container-6 .col-md-7 h1 {
        font-size: 45px;
        width: 100%;
        line-height: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        text-align: center;
    }

    .container-6 .col-md-7 .desc {
        width: 100%;
        font-size: 16px;
        margin-top: 15px;
        text-align: center;
    }

    .container-6 .col-md-7 p:nth-child(1){
        margin-left: 27px;
        margin-top: -87px;
    }
    
    .container-6 .col-md-7 input {
        width: 100%;
        height: 60px;
        padding-left: 27px;
        padding-top: 18px;
    }

    .container-6 .col-md-7 button{
        border: 0px;
        position: relative;
        width: 100%;
        height: 60px;
        margin-left: 0px;
        margin-top: 13px;
    }
    
    .container-6 .col-md-7 form{
        margin-top: 50px;
    }

    .container-6 .navbar:nth-child(2) {
        justify-content: center;
        bottom: 50px;
    }

    .container-6 .navbar:nth-child(2) ul:nth-child(1){
        display: none;
    }

    .container-6 .navbar:nth-child(2) ul:nth-child(2){
        margin:0px;
        flex-direction: row;
    }

    .container-6 .navbar:nth-child(2) .social-media{
        padding: 0px 17px 10px 17px;
    }

    .container-6 .navbar:nth-child(3) .navbar-nav:nth-child(1){
        margin: 0;
    }

    .container-6 .navbar:nth-child(3) .copyright {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 12px;
        text-align: center;
        justify-content: center;
        margin-top: -12px;
        left: 7%;
    }

    .container-6 .navbar:nth-child(3) ul:nth-child(2){
        flex-direction: row;
        margin-top: 15px;
        margin-left: 7%;
    }

    .container-6 .navbar:nth-child(3) ul:nth-child(2) a{
        text-align: center;
        font-size: 10px ;
        padding: 0px 10px 5px 10px;
    }

}